.jumbotron, .card-header, .btn {
  background-color: rgb(218, 106, 32);
  color: white;
  font-family: 'Lora', serif;
}

.table, .form-group {
  font-family: 'Montserrat', sans-serif;
}

th {
  font-weight: 600;
}

body {
  background-image: url("../images/Tracks2.jpg");
}